.home{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.searchbar{
  display: flex;
  justify-content: center;
  margin: 10px;
}
input[name="searchbar"]{
  max-width: 200px;
  width: 100%;
  padding: 10px;


}